.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button.choice {
  width: 40%;
  background-color: transparent;
  color: #61dafb;
  font-size: 1em;
  margin: 1em;
  padding: 0.25em 1em;
  border: none;
}

button.choice.active {
  background-color: #61dafb;
  color: #282c34;
}

.link {
  color: #b318f0;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
